:host {
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: .5rem;
}

:host > div:first-child {
    cursor: pointer;
    transition: all .2s;
}

:host > div:first-child:active {
    transform: scale(.99);
}

h2 {
    font-weight: 400;
    font-size: .9rem;
    color: rgba(0, 0, 0, 0.7);
    filter: drop-shadow(0 0 0.2rem rgb(255, 255, 255));
    margin: 0;
    display: inline;
}

span mat-icon {
    translate: -.1rem .5rem;
    transform: scale(.8);
}

.address {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.address mat-icon {
    transform: scale(.8);
    color: #FF8506;
    margin-right: .15rem;
}

.address span {
    color: black;
    font-weight: 500;
    font-size: 1rem;
    filter: drop-shadow(.05rem .05rem 0.05rem #EAEAEA);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.button button {
    font-size: .8em;
    color: rgba(0, 0, 0, 0.7);
    background-color: transparent;
    border: .1em solid #EEEEEE;
    border-radius: .35em;
    padding-right: .45em;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all .2s;
}

.button button:active {
    transform: scale(.97);
}

.button mat-icon {
    transform: scale(.6);
    color: #FF8506;
    translate: 0 -.05em;
}