:host {
    user-select: none;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
}

mat-expansion-panel-header {
    padding: 0 1.5rem;
    height: 3.5rem;
    background-color: #EEEEEE !important;
}

.mat-accordion .mat-expansion-panel {
    border-radius: 0;
    box-sizing: border-box;
}

.mat-expansion-panel-header.mat-expanded {
    height: 4rem;
}

mat-panel-title {
    font-size: 1rem;
    font-weight: 500;
}

textarea {
    margin: 1rem -.5rem 0 -.5rem;
    width: calc(100% + 1rem);
    height: 6rem;
    border-radius: .5rem;
    resize: none;
    border: .1rem solid #DDDDDD;
    padding: .5rem;
    font-family: inherit;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1rem;
}

textarea:focus-visible {
    outline-color: rgba(0, 0, 0, 0.3);;
}

div {
    text-align: end;
    margin-right: .25rem;
    color: rgba(0, 0, 0, 0.7);
}