<hr>
<nav>
  <ul>
    <li>
      <mat-icon
        aria-hidden="false"
        aria-label="Home icon"
        fontIcon="home"
        [routerLink]="['/home']"
        routerLinkActive="active"
      ></mat-icon>
    </li>
    <li>
      <mat-icon
        aria-hidden="false"
        aria-label="Favorites icon"
        fontIcon="favorite"
        [routerLink]="['/favorites']"
        routerLinkActive="active"
      ></mat-icon>
    </li>
    <li>
      <mat-icon
        aria-hidden="false"
        aria-label="Bag icon"
        fontIcon="shopping_bag"
        [routerLink]="['/bag']"
        routerLinkActive="active"
      ></mat-icon>
    </li>
    <li>
      <mat-icon
        aria-hidden="false"
        aria-label="Account icon"
        fontIcon="account_circle"
        [routerLink]="['/account']"
        routerLinkActive="active"
      ></mat-icon>
    </li>
  </ul>
</nav>
