:host {
    position: fixed;
    bottom: 0;
    width: calc(100vw);
    max-width: calc(425px);
    background-color: #FEFEFE;
    translate: -.75rem 0;
    padding-bottom: .5rem;
    transition: translate .35s ease-in-out;
    color: #757575;
}

:host.hide {
    translate: -.75rem 5rem;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
    line-height: .8;
}

mat-icon {
    transform: scale(1.4);
    filter: drop-shadow(0 0 0.5rem #72727255);
    background: linear-gradient(135deg, #909090, #757575) text;
    cursor: pointer;
    color: transparent;
}

li:first-of-type mat-icon {
    transform: scale(1.5) translate(0, .05rem);
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .55rem;
}

span {
    font-size: .7em;
}

.active {
    filter: drop-shadow(0 0 0.3rem #FF873288);
    background: linear-gradient(135deg, #ff984f, #ff6e07) text;
}

.text-active {
    color: #ff6e07;
}

hr {
    margin-top: 0;
}