<div class="cover">
    <span>Promo</span>
    <img src="../../../assets/img/burguer-1.avif" alt="Burguer 1">
    <mat-icon (click)="log('heart', $event)" aria-hidden="false" aria-label="Home icon" fontIcon="favorite_outline"></mat-icon> 
</div>
<div class="text">
    <h3>O brabo</h3>
    <p> Blend suculento com 150 g de carne bovina, acompanhado por duas fatias de queijo cheddar, picles, cebola roxa e nosso maravilhoso molho da casa.</p>
    <div class="price">
        <span>R$21,49</span>
        <span>R$24,98</span>
    </div>
</div>
