<div class="cover">
    @if(promoPrice) {
        <span>Promo</span>
    } 
    <img src="../../../assets/img/burguer-1.avif" alt="Burguer 1">
    <mat-icon (click)="onHeart($event)" aria-hidden="false" aria-label="Home icon" [fontIcon]="fontIcon" [ngClass]="{ filled: fontIcon === 'favorite' }"></mat-icon> 
</div>
<div class="text">
    <h3>{{ title }}</h3>
    <p> {{ description }}</p>
    <div class="price">
        @if(promoPrice) {
            <span> {{ promoPrice | currency:'BRL' }}</span>
        }
        <span>{{ price | currency:'BRL' }}</span>
    </div>
</div>
