:host {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: .75rem;
    padding-top: 4.5rem;
}

hr {
    margin-top: 1rem;
}

p {
    text-align: center;
    margin-top: 35vh;
    padding-inline: 5%;
}

.spinner {
    height: calc(100vh - 9rem);
    display: flex;
    justify-content: center;
    align-items: center;
}