<app-page-header></app-page-header>
@if (categories) {
    @for (category of categories; track category) {
        <app-favorites-section [name]="category.name" [products]="category.products" (card)="onCardItem($event)" (heart)="onHeart()"></app-favorites-section>
        <hr>
    } 
    @empty {
        <p>Você ainda não tem favoritos. Clique no ícone de coração em seu produto favorito para adicioná-lo a esta seção.</p>
    }
}
@else {
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
}
<app-menu-bar [canHide]="true"></app-menu-bar>