<app-page-header title="Pedidos"></app-page-header>
@if (orders) {
    @for (order of orders; track order) {
        <app-card-order [index]="$index" [order]="order" (add)="onAddToBag($event)"></app-card-order>
        <hr>
    }
    @empty {
        <p>Você ainda não realizou pedidos. Adicione produtos a sua sacola e conclua seu primeiro pedido para adicioná-lo a está seção.</p>
    }
}
@else {
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
}
<app-menu-bar [canHide]="true"></app-menu-bar>