<app-product-header (arrow)="onArrow()" (heart)="onHeart($event)" ></app-product-header>
<app-product-details [product]="product"></app-product-details>
@for (optionsList of product.optionsLists; track optionsList) {
    <app-product-options [optionsList]="optionsList" (selected)="handleSelection($event)"></app-product-options>
}
<app-product-notes></app-product-notes>
<button type="button" (click)="onSubmit()"> Adicionar &nbsp;•&nbsp; {{ finalPrice | currency:'BRL' }}</button>
<app-menu-bar></app-menu-bar>