<ul>
  <li>
    <app-bag-product></app-bag-product>
  </li>
  <hr />
  <li>
    <app-bag-product></app-bag-product>
  </li>
</ul>
<hr />
<ul>
  <li>
    <button type="button">
      <mat-icon
        aria-hidden="false"
        aria-label="Remove icon"
        fontIcon="cancel"
      ></mat-icon>
      Esvaziar sacola
    </button>
  </li>
  <li>
    <button type="button">
      <mat-icon
        aria-hidden="false"
        aria-label="Add icon"
        fontIcon="add_circle"
      ></mat-icon>
      Adicionar produtos
    </button>
  </li>
</ul>