<ul>
  @for (item of order.items; track item; let index = $index) {
    <li><app-bag-product [index]="index" [item]="item" (add)="add.emit($event)" (remove)="remove.emit($event)"></app-bag-product></li>
    <hr>
  } @empty {
    <li><p>Sua sacola está vazia. Que tal adicionar alguns produtos?</p></li>
  }

</ul>
<hr>
<ul>
  @if (order.subtotal) {
    <li>
      <button type="button" (click)="empty.emit()">
        <mat-icon
          aria-hidden="false"
          aria-label="Remove icon"
          fontIcon="cancel"
        ></mat-icon>
        Esvaziar sacola
      </button>
    </li>
  }
  
  <li>
    <button type="button" (click)="more.emit()">
      <mat-icon
        aria-hidden="false"
        aria-label="Add icon"
        fontIcon="add_circle"
      ></mat-icon>
      Adicionar produtos
    </button>
  </li>
</ul>