:host {
    font-size: min(4vw + .15rem, 1rem);
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5em;
    padding: .5em;
    background-color: #F5F5F5;
    border-radius: .5em;
}

.menu button {
    color: rgba(0,0,0,0.7);
    border: none;
    border-radius: .3em;
    cursor: pointer;
    aspect-ratio: 4.25;
    font-size: .9em;
    background: linear-gradient(135deg, #90909022, #75757522);
}

.menu button:not(.active):hover {
    background-color: #E0E0E0;
}

.menu .active {
    background: linear-gradient(135deg, #ff984f, #ff6e07);
    color: #FEFEFE;
}

.content {
    margin: .5em 0 0 0;
    color: rgba(0, 0, 0, 0.7);
}

app-address {
    display: flex;
    align-items: end;
}