<app-page-header title="Sacola"></app-page-header>
<app-bag-delivery></app-bag-delivery>
<hr>
<app-bag-product-list [order]="order" (empty)="onEmptyBag()" (more)="sendToHome()" (add)="addItem($event)" (remove)="removeItem($event)"></app-bag-product-list>
<hr>
<app-bag-order-summary [subtotal]="order.subtotal" [deliveryFee]="order.deliveryFee" [taxes]="order.taxes"></app-bag-order-summary>
<hr>
<app-bag-payment [total]="getTotal()" [sending]="sending" (submit)="onSubmit()"></app-bag-payment>
<app-menu-bar [canHide]="true"></app-menu-bar>