:host {
    display: block;
    border-radius: .4em;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: rgba(0, 0, 0, 0.95);
    cursor: pointer;
    font-size: min(14vw/4, 1rem);
    height: 100%;
    width: 100%;
    hyphens: auto;
    transition: all .1s ease-in-out;
}

.cover {
    position: relative;
}

.cover span {
    position: absolute;
    background-color: #13B95F;
    color: white;
    font-size: .75em;
    font-weight: 500;
    padding: .15em .5em;
    border-radius: .25em;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.1), 0px 2px 2px 0px rgba(0, 0, 0, 0.08), 0px 1px 5px 0px rgba(0, 0, 0, 0.06);
    top: .75em;
    left: .75em;
}

.cover mat-icon {
    text-align: end;
    font-size: 1.6em;
    position: absolute;
    top: .4rem;
    right: .4rem;
    filter: drop-shadow(0 0 0.5em #72727255);
    background: linear-gradient(135deg, #edecec, #b8b7b7) text;
    -webkit-text-fill-color: transparent;
    transition: all .1s ease-in-out;
}

.cover mat-icon:active {
    transform: scale(.94);
}

.cover mat-icon.filled {
    background: linear-gradient(135deg, #fc6435, #fe4e19) text;
}

img {
    width: 100%;
    aspect-ratio: 1.4;
    object-fit: cover;
    display: block;
}

.text {
    padding: .75em;
}

h3 {
    font-weight: 500;
    margin-bottom: 0.1em;
    font-size: 1.2em;
    margin-bottom: .25em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: rgba(0, 0, 0, 0.7);
    filter: drop-shadow(0 0 0.2em rgb(255, 255, 255));
    margin-bottom: .5em;
}

.price {
    display: flex;
    justify-content: space-between;
    filter: drop-shadow(0 0 0.2em rgb(255, 255, 255));
}

.price span:nth-child(even) {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.7);
}

.price span:nth-child(odd) {
    filter: drop-shadow(0 0 0.2em rgb(255, 255, 255));
    font-weight: 500;
}

span {
    text-align: center;
    display: inline-block;
    margin-right: .5em;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: .7em;
    translate: 0 -.35em;
    transition: all .1s ease-in-out;
    margin-bottom: -1em;
}

button:active {
    transform: scale(.94);
}

button mat-icon {
    display: block;
    color: #FF8506;
    font-size: 2em;
}