<div class="cover">
    @if (product.promoPrice) {
        <span>Promo</span>
    } 
    <img src="{{ product.imageName ? API_URL + product.imageName : '../../../assets/img/burguer-1.avif' }}" alt="Burguer image">
    <mat-icon title="Favoritar" (click)="onHeart($event)" aria-hidden="false" aria-label="Home icon" [fontIcon]="fontIcon" [ngClass]="{ filled: fontIcon === 'favorite' }"></mat-icon> 
</div>
<div class="text">
    <h3>{{ product.name }}</h3>
    <p lang="pt-BR"> {{ product.description }}</p>
    <div class="price">
        <div>
        @if (product.promoPrice) {
            <span> {{ product.promoPrice | currency:'BRL' }}</span>
        }
        <span>{{ product.price | currency:'BRL' }}</span>
        </div>
        <button (click)="onAddToBag($event)" title="Adicionar à sacola" type="button">
            <mat-icon fontIcon="add_circle" aria-hidden="false" aria-label="Add icon"></mat-icon>
        </button>
    </div>
</div>
